<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tim.bond.taco.shaker" version="0.2.0">
	<name>Taco Shaker</name>
	<description>Example Tabris.js App using TypeScript and cordova-plugin-shake</description>
	<author email="cookieguru@gmail.com">Tim Bond</author>
	<preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
	<plugin name="cordova-plugin-shake" version="0.6.0" />
</widget>
